.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  background: #000;
  position: relative;
  border: 3px solid blue;
  border-radius: 4px;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.empty {
  background-color: black;
}

.wall {
  background: transparent;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.dot {
  background-color: burlywood;
  height: 4px;
  width: 4px;
  border-radius: 50px;
}

.pellet {
  background-color: blanchedalmond;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  animation: blink-animation 0.5s steps(1, start) infinite;
}

.pacman {
  position: relative;
  background-color: yellow;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  overflow: hidden;
}

.pacman::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
  animation: munch 0.4s infinite;
}

.ghost {
  position: relative;
  background-color: aqua;
  height: 20px;
  width: 20px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 80%,
    90% 100%,
    80% 80%,
    70% 100%,
    60% 80%,
    50% 100%,
    40% 80%,
    30% 100%,
    20% 80%,
    10% 100%,
    0% 80%
  );
  animation: float 1s ease-in-out infinite;
}

#game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 290px;
  left: 530px;
  z-index: 4;
  height: 320px;
  width: 320px;
  font-size: 2rem;
  color: crimson;
}

#you-win {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 290px;
  left: 530px;
  z-index: 4;
  height: 320px;
  width: 320px;
  font-size: 2rem;
  color: greenyellow;
}

#lives {
  display: flex;
  align-items: center;
}

.life-pacman {
  background-color: yellow;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: relative;
  margin: 0 4px;
}

.life-pacman::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
}

#score {
  color: yellow;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  background: #000;
}

h1 {
  color: yellow;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes munch {
  0%,
  100% {
    clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 100% 40%, 100% 60%);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
