.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: screen;
}

.header {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  background: #000;
  position: relative;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.empty {
  background-color: black;
}

.wall {
  background-color: blue;
  height: 100%;
  width: 100%;
}

.dot {
  background-color: burlywood;
  height: 6px;
  width: 6px;
  border-radius: 50px;
}

.pellet {
  background-color: blanchedalmond;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}

.pacman {
  background-color: yellow;
  height: 20px;
  width: 20px;
  border-radius: 50px;
}

.ghost {
  background-color: aqua;
  height: 20px;
  width: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 120px;
  left: 545px;
  z-index: 4;
  height: 300px;
  width: 300px;
  font-size: 2rem;
  color: crimson;
}

#you-win {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 120px;
  left: 545px;
  z-index: 4;
  height: 300px;
  width: 300px;
  font-size: 2rem;
  color: greenyellow;
}
